/* Estilo básico da página */
body {
    font-family: Arial, sans-serif; /* Fonte */
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f9; 
    height: 200vh; /* Permite rolagem */
}

.content {
    width: 100%;
    max-width: 600px; 
    margin: 50px auto; /* Centraliza */
    padding: 20px; /* Preenchimento */
    background: #fff; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

h1 {
    text-align: center; /* Alinha o título ao centro */
    margin-bottom: 20px; 
}

form {
    display: flex; 
    flex-direction: column; 
}

label {
    margin-bottom: 8px; 
}

input {
    margin-bottom: 12px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
}

button {
    padding: 12px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
}

button:hover {
    background-color: #45a049; /* Cor de fundo no hover */
}

.resultado {
    margin-top: 20px; 
    padding: 10px; 
    background-color: #e7f3e7; /* Cor de fundo */
    border: 1px solid #b5e7b5; 
    border-radius: 4px; /* Bordas arredondadas */
}

#scrollToTopBtn {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fixo na tela */
    bottom: 20px; 
    right: 20px; 
    padding: 12px 20px; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 50%; /* Botão circular */
    cursor: pointer; /* Cursor de pointer */
}

#scrollToTopBtn:hover {
    background-color: #0056b3; /* Cor no hover */
}
